:root {
  // base
  --content-width: 1380px;
  --container-offset: 15px;
  --container-width: calc(var(--content-width) + (var(--container-offset) * 2));

  // colors
  --light-color: #ffffff;
  --black-color: #000000;
}

@keyframes animate-btn-icon {
  0% {
    transform: translateY(-1px);
  }

  50% {
    transform: translateY(-2px);
  }

  100% {
    transform: none;
  }
}