.main-video {
  padding: 20px 0 130px;

  @media (max-width: 991.98px) {
    padding: 60px 0;
  }

  &__text {
    display: flex;
    align-items: flex-start;
    margin-bottom: 50px;

    @media(max-width: 991.98px) {
      flex-direction: column;
    }
  }

  &__title {
    max-width: 580px;

    @media(max-width: 991.98px) {
      max-width: none;
      margin-bottom: 20px;
      text-align: left;
    }
  }

  &__subtitle {
    font-size: 21px;
    line-height: 39px;
    letter-spacing: -0.656526px;
    color: rgba(255, 255, 255, 0.7);

    @media (max-width: 480px) {
      font-size: 16px;
      line-height: 150%;
    }
  }
}